Desktop/.idea
Desktop/venv
Desktop/__pycache__
Desktop/sdownloader/Downloads
Desktop/api-keys.txt
Desktop/sdownloader/resources/__pycache__
Scheduler/.idea
Scheduler/venv
Scheduler/__pycache__
Scheduler/scheduler/__pycache__
Scheduler/scheduler/test.py
Scheduler/scheduler/modules/__pycache__
Scheduler/scheduler/heroku
WebAPI/.idea
WebAPI/venv
WebAPI/__pycache__
WebAPI/api/.git
WebAPI/api/__pycache__
WebAPI/api/heroku
WebAPI/api/modules/auth/__pycache__
WebAPI/api/modules/get/__pycache__
WebAPI/api/modules/update/__pycache__






